/target
a.out
a.exp
a.lib
a.pdb
asdf.c
corpus/corpus
corpus/corpus.coverage
init.profdata
init.profraw
output.txt
profdata
profraw
**profdata
**profraw
sample*.json
**json
output
**a.out
input/*
input/**
!input/sample.dict
