**.coverage
**.dSYM
**.gcda
**.gcno
**.mutation
**.out
**a.out
**json
**profdata
**profraw
*.o
*.out
.DS_Store
/output
StandaloneFuzzTargetMain.c
a.exp
a.lib
a.out
a.pdb
asdf.c
clang-compile.sh
corpus/corpus
corpus/corpus.coverage
ignore
init.profdata
init.profraw
input/*
input/**
output.txt
profdata
profraw
sample*.json
target
