**a.out
**json
**profdata
**profraw
a.exp
a.lib
a.out
a.pdb
asdf.c
corpus/corpus
corpus/corpus.coverage
ignore
init.profdata
init.profraw
input/*
input/**
/output
output.txt
profdata
profraw
sample*.json
target
